
<div class="row">
    <div class="col-md-12">
        <button (click)="onAddUser()">Add User</button>
    </div>
</div>

<div class="my-2">
    {{appStatus | async}}
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <input type="text" class="form-control" [(ngModel)]="filteredstring">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div *ngFor="let user of users | filter:filteredstring" class="my-3">
                <div>Name : {{user.name | shorten:10 | uppercase}}</div>
                <div>Joining Date : {{user.joinedDate | date : 'fullDate' | uppercase}}</div>
            </div>
        </div>
    </div>
</div>